*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    background: rgb(204, 123, 57);
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
}

.title{
    text-align: center;
    color: rgb(236, 240, 245);
}

.status-bar{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px
}


.reset{
    cursor: pointer;
}

.reset:hover{
    color: skyblue;
}


.game-grid{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 8px;
    background-color: rgb(197, 201, 204);
    
}

.game-cell{
    background-color: rgb(204, 123, 57);
    font-size: 110px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.game-cell-winning{
    color: rgb(255, 255, 255);
    transition: 0.45s;
}