*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(188, 108, 37);;
}

.container{
    background: rgb(96, 108, 56);
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
}

.title{
    text-align: center;
    color: rgb(188, 108, 37);
}

.status-bar{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px
}

.buttons-bar{
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.o-move{
    color: rgb(188, 108, 37);
}

.x-move{
    color: rgb(40, 59, 85);
}


.reset{
    cursor: pointer;
    background-color: rgb(40, 54, 24);
    padding: 1em 1.5em;
    border-radius: 30px;
}

.reset:hover{
    color: rgb(231, 111, 81);
    transition: 0.1s;
}

.reset:active{
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}


.game-grid{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 8px;
    background-color: rgb(40, 54, 24)
    
}

.game-cell{
    background-color: rgb(96, 108, 56);
    font-size: 110px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.game-cell-winning{
    color: rgb(254, 250, 224);
    transition: 0.45s;
}


@media only screen and (max-width: 1024px){

    .game-grid{
        grid-gap: 6px;
    }
}


@media only screen and (max-width: 540px){

}